body {
  background-color: lightblue;
  color: darkslategrey;
  font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(darkslategrey));
}

.btn:hover {
  background: darkslategray;
}

header {
  background: url(paper.jpg);
}

body > footer {
  background: url(paper.jpg);
}

section > h1 {
  font-size: 5em;
}

a {
  color: darkslategrey;
}

#pretty-font {
  font-family:'Pacifico', cursive;
}

#tfheader{
  background-color:#c3dfef;
}
#tfnewsearch{
  float:right;
  padding:20px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(darkslategrey));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
  text-decoration: none;
  background: darkslategray;
  background: -webkit-gradient(linear, left top, left bottom, from(darkslategray), to(darkslategray));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

.flip-container {
	perspective: 1000px;
  transform-style: preserve-3d;
}

	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
  height: 300px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
  transform: rotateY(0deg);
  background: palegreen;
}

.back {
  transform: rotateY(-180deg);
  background: #4CAF50;
}


